#Login{
  background-color: gold;
  padding: 20px;
  height: 100vh;
}
#login-form{
  min-width: 600px;
  max-width: 60%;
  margin-top: 5%;
  padding: 100px 50px 100px 450px;
  background-image: url('../assets/4264656.jpg');
  background-size: 500px;
  background-repeat: no-repeat;
  background-position:-45px;
  background-color: white;
  border-radius: 5px;
}

#login-form h1{
  text-align: center;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold; letter-spacing: -1px;
  line-height: 1;
}

#header-form-print {
  background: #24245C;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px 40px 30px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 5%;
}

#btn-submit {
  background: #24245C;
  width: 200px;
  height: 50px;
}

.text-color{
  color: white;
  text-align: center;
}

#print-form{
  width: 35%;
  padding: 30px 60px 30px 60px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

#test{
}