.container-view {
  height: 65vh;
}

p {
  margin-bottom: 0 !important;
}

.container-home {
  height: 65vh;
  margin: 40px 60px;
}

.cont-chat {
  height: 20vh;
  width: 90vw
}

.rules {
  width: 25%;
}

.order-list {
  margin-right: 20%;
  margin-left: 50px;
  height: 50vh;
}

.order-item {
  width: 1000px;
  border-radius: 10px;
}

.logout-btn {
  width: 110px;
}

.users {
  margin-right: 10px;
}

#form-add-product {
  width: 30%;
  padding: 30px;
  margin-left: 600px;
  margin-right: auto;
}

#form-container{
}

#form-heading {
  background-color:#3D8DB5 ;
  width: 30%;
  padding: 30px;
  margin-left: 600px;
  margin-right: auto;
  border-radius: 10px 10px 0px 0px;
}

#form-heading h3 {
  color: white;
}

#navbarSupportedContents ul {
  display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#btn-submit {
  width: 200px;
  height: 50px;
}

