#table-container{
  width: 70%;
  margin-right: 130px;
  margin-left: auto;
  margin-top: 5%;
}

#order-requested{
  color: green
}

#paid {
  color: green;
}

#confirm{
  color: navy;
}

#on-progress{
  color: rgb(255, 187, 0);
}

#canceled{
  color: red;
}
#reject{
  color: red;
}

.text-secondary{
  color: rgb(19, 18, 18);
}

#status-order-onProgress{
  background-color: rgba(255, 166, 0, 0.2);
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: orange;
  border-radius: 15px;
  
}

#status-order-confirm{
  background-color: rgb(0, 0, 255, 0.2);
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: blue;
  border-radius: 15px;
  
}

#status-order-request{
  background-color: rgba(0, 128, 0, 0.2);
  text-align: center;
  font-weight: bold;
  padding:5px;
  border-radius: 15px;
  color: rgb(3, 170, 3);
  
}

#status-order-reject{
  background-color: rgba(255, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  padding:5px;
  border-radius: 15px;
  color: red;
  
}

.text-details{
  color: rgb(56, 56, 56);
}
